
.displayGrid {
  display: grid;
  width: 100%;
}
.displayFlex {
  display: flex;
}
.buttonFlex {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.displayFlex h6 {
  line-height: 30px;
  text-align: center;
  border: 1px solid black;
}

span {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
}
.width5 {
  width: 5%;
}
.margin0 {
  margin: 0;
}
.width10 {
  width: 10%;
}
.width45 {
  width: 35%;
}
